.box1 {
  background-image: linear-gradient(to bottom, rgba(92, 1, 1,1), rgba(148, 7, 7,1));
  height: 140px;
}
.login {
  position: absolute;
  left: 85.5%;
  top: 5.7%;
  padding: 13px;
  text-transform: uppercase;
  background-color: red;
  border: 2px solid black;
  color: black;
  font-family: roboto condensed, sans-serif;
  font-weight: 900;
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
}
.login:hover {
  background-color: white;
}
.signup {
  position: absolute;
  left: 90%;
  top: 5.7%;
  padding: 13px;
  text-transform: uppercase;
  background-color: red;
  border: 2px solid black;
  color: black;
  font-family: roboto condensed, sans-serif;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
}
.signup:hover {
  background-color: white;
}
.logo {
  position: absolute;
  left: 38.8%;
  top: 2.5%;
}
.subbox {
  border: 1px solid transparent;
  background-color: whitesmoke;
  height: 58px;
}
ol {
  float: left;
}
ol li {
  float: left;
  width: 190px;
  position: relative;
  left: 28.5%;
  list-style-type: none;
  font-family: roboto condensed, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #942B15;
}
ol li a {
  text-decoration: none;
}
ol li a:hover {
  border-bottom: 2px solid #942B15;
}
/*
.fa-search {
  position: absolute;
  left: 83%;
  top: 1.5%;
  color: white;
  cursor: pointer;
}
.fa-search:hover {
  color: #942B15;
}
.fa-user {
  position: absolute;
  left: 86%;
  top: 1.5%;
  color: white;
  cursor: pointer;
}
.fa-user:hover {
  color: #942B15;
}
.fa-shopping-bag {
  position: absolute;
  left: 89%;
  top: 1.5%;
  color: white;
  width: 25px;
  height: -30px;
  border-radius: 100px;
  margin-top: -2px;
  margin-left: -4px;
  text-align: center;
  cursor: pointer;
}
.fa-shopping-bag:hover {
  color: #942B15;
}
.fa-heart {
  position: absolute;
  left: 92%;
  top: 1.5%;
  color: white;
  cursor: pointer;
}
.fa-heart:hover {
  color: #942B15;
}*/
font {
  color: #942B15;
}
h1 {
  text-transform: uppercase;
  color: #942B15;
  position: absolute;
  font-size: 140px;
  left: 28.3%;
  top: 16%;
  font-family: roboto condensed, sans-serif;
  font-weight: bold;
  text-align: center;
}
.image1 {
  position: absolute;
  left: 7%;
  top: 48.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image1:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image2 {
  position: absolute;
  left: 24.5%;
  top: 48.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}

.image2:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image3 {
  position: absolute;
  left: 42%;
  top: 48.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image3:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image4 {
  position: absolute;
  left: 59.5%;
  top: 48.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image4:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image5 {
  position: absolute;
  left: 77%;
  top: 48.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image5:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image6 {
  position: absolute;
  left: 7%;
  top: 105%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image6:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image7 {
  position: absolute;
  left: 24.5%;
  top: 105%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image7:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image8 {
  position: absolute;
  left: 42%;
  top: 105%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image8:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image9 {
  position: absolute;
  left: 59.5%;
  top: 105%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image9:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image10 {
  position: absolute;
  left: 77%;
  top: 105%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image10:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image11 {
  position: absolute;
  left: 7%;
  top: 160.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image11:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image12 {
  position: absolute;
  left: 24.5%;
  top: 160.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image12:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image13 {
  position: absolute;
  left: 42%;
  top: 160.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image13:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image14 {
  position: absolute;
  left: 59.5%;
  top: 160.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image14:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image15 {
  position: absolute;
  left: 77%;
  top: 160.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image15:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image16 {
  position: absolute;
  left: 7%;
  top: 215.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image16:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image17 {
  position: absolute;
  left: 24.5%;
  top: 215.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image17:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image18 {
  position: absolute;
  left: 42%;
  top: 215.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image18:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image19 {
  position: absolute;
  left: 59.5%;
  top: 215.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image19:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image20 {
  position: absolute;
  left: 77%;
  top: 215.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image20:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image21 {
  position: absolute;
  left: 7%;
  top: 270.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image21:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image22 {
  position: absolute;
  left: 24.5%;
  top: 270.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image22:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image23 {
  position: absolute;
  left: 42%;
  top: 270.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image23:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image24 {
  position: absolute;
  left: 59.5%;
  top: 270.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image24:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image25 {
  position: absolute;
  left: 77%;
  top: 270.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image25:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image26 {
  position: absolute;
  left: 7%;
  top: 325.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image26:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image27 {
  position: absolute;
  left: 24.5%;
  top: 325.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image27:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image28 {
  position: absolute;
  left: 42%;
  top: 325.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image28:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image29 {
  position: absolute;
  left: 59.5%;
  top: 325.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image29:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image30 {
  position: absolute;
  left: 77%;
  top: 325.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image30:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image31 {
  position: absolute;
  left: 7%;
  top: 380.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image31:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image32 {
  position: absolute;
  left: 24.5%;
  top: 380.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image32:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image33 {
  position: absolute;
  left: 42%;
  top: 380.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image33:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image34 {
  position: absolute;
  left: 59.5%;
  top: 380.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image34:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image35 {
  position: absolute;
  left: 77%;
  top: 380.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image35:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image36 {
  position: absolute;
  left: 7%;
  top: 435.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image36:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image37 {
  position: absolute;
  left: 24.5%;
  top: 435.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image37:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image38 {
  position: absolute;
  left: 42%;
  top: 435.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image38:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image39 {
  position: absolute;
  left: 59.5%;
  top: 435.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image39:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image40 {
  position: absolute;
  left: 77%;
  top: 435.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image40:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image41 {
  position: absolute;
  left: 7%;
  top: 490.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image41:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image42 {
  position: absolute;
  left: 24.5%;
  top: 490.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image42:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image43 {
  position: absolute;
  left: 42%;
  top: 490.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image43:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image44 {
  position: absolute;
  left: 59.5%;
  top: 490.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image44:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image45 {
  position: absolute;
  left: 77%;
  top: 490.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image45:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image46 {
  position: absolute;
  left: 7%;
  top: 545.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image46:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image47 {
  position: absolute;
  left: 24.5%;
  top: 545.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image47:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image48 {
  position: absolute;
  left: 42%;
  top: 545.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image48:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image49 {
  position: absolute;
  left: 59.5%;
  top: 545.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image49:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image50 {
  position: absolute;
  left: 77%;
  top: 545.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image50:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image51 {
  position: absolute;
  left: 7%;
  top: 600.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image51:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image52 {
  position: absolute;
  left: 24.5%;
  top: 600.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image52:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image53 {
  position: absolute;
  left: 42%;
  top: 600.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image53:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image54 {
  position: absolute;
  left: 59.5%;
  top: 600.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image54:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image55 {
  position: absolute;
  left: 77%;
  top: 600.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image55:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image56 {
  position: absolute;
  left: 7%;
  top: 655.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image56:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image57 {
  position: absolute;
  left: 24.5%;
  top: 655.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image57:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image58 {
  position: absolute;
  left: 42%;
  top: 655.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image58:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image59 {
  position: absolute;
  left: 59.5%;
  top: 655.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image59:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
.image60 {
  position: absolute;
  left: 77%;
  top: 655.5%;
  border: 3px solid black;
  box-shadow: 1px 2px 4px;
}
.image60:hover {
  box-shadow: 1px 3px 9px;
  color: #6c7ae0;
}
t {
  color: #942B15;
  position: absolute;
  left: -1%;
  top: 103.7%;
  width: 220px;
  font-size: 20px;
  font-family: "Amazon Ember", sans-serif;
  font-weight: bold;
  text-align: left;
}
t1 {
  color: red;
  position: absolute;
  left: 75%;
  top: 103.7%;
  width: 220px;
  font-size: 23px;
  font-family: "Amazon Ember", sans-serif;
  font-weight: bold;
  text-align: left;
}
.box2{
  position: absolute;
  top: 720%;
  background-image: linear-gradient(to bottom, rgba(92, 1, 1,1), rgba(148, 7, 7,1));
  height: 140px;
  width: 99%;
}
a {
  color: #942B15;
  text-decoration: none;
}